.padded{padding: 0px !important;}
.paddedL{padding-left: 0px !important;}
.paddedR{padding-right: 0px !important;}
.paddedR10{padding-right: 10px;}
.featured-image{position: absolute; top: 0px; width: 100%; opacity: 0; cursor: pointer; height: 100%;}
.inputfields{font-size: 17px;padding: 6px !important;display: inline-block;}
.inputbox{padding: 10px;}




@media (min-width:1025px) {
 .page-content{overflow-y:auto; height: 515px;}
 .putwidth{position:fixed;top:145px;z-index:11;}
}

@media (max-width:1024px) {
.putwidth{width:100% !important;left: auto !important; padding: 0 10px;}
}
